.graphSubMenu {
  font-size: 12px;
  border-radius: 0 4px 4px 0;
  box-shadow: none;
  min-width: 86px;
  width: 86px;
  background-color: 'red';
}
.myContextMenuItem:hover {
  background-color: #edf4ff;
}
